@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .imgProfile {
        width: 35%;
        border-radius: 50%;
        margin: 10px auto 20px;
        display: block;
    }
    .dropdown-item {
        text-align: center;
        background-color: whitesmoke;
    }
    /* Carousel Start */
    .slider .carousel-caption {
        bottom: 200px;
    }
    .slider .carousel-caption h5 {
        font-size: 20px;
    }
    .slider .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 15px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 15px;
        margin-top: 1000%;
    }
    .about-text {
        padding-bottom: 50px;
        text-align: center;
    }
    /* Carousel End */
    /* Fish card Start */
    .card {
        margin-bottom: 30px;
    }
    .img-area img {
        width: 100%;
    }
    /* Table Start */
    table thead {
        display: none;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }
    table tr {
        display: block;
        margin-bottom: 20px;
    }
    table td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
    /* Table End */
    /* Bottom Tab Start */
    .nav__list,
    .nav__link {
        display: flex;
    }
    .nav__menu {
        position: fixed;
        bottom: 0;
        box-shadow: 0 -1px 12px;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1rem 1rem 0 0;
        transition: .4s;
        background: linear-gradient(90deg, rgba(254, 254, 254, 1) 4%, rgb(222, 250, 248) 50%);
        z-index: 9999;
    }
    .nav__list {
        justify-content: space-around;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .nav__link {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        row-gap: .25rem;
    }
    .bottom-navigation {
        display: block;
    }
    /* Bottom Tab End */
    .foot {
        text-align: center;
    }
    .form-area {
        padding: 1.5em;
    }
    .form-area h1 {
        font-size: 18px;
    }
    .form-area .btn {
        margin-right: 35%;
    }
    .nano {
        margin-right: 16%;
    }
}